{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2 class="mb-4">{{ genre.title }}</h2>
            <div class="row">
                {% for movie in movies %}
                    <div class="col-md-3 mb-4">
                        <div class="card" style="border: 1px solid #ddd;">
                            <img src="{{ movie.poster.url }}" class="card-img-top square-image" alt="{{ movie.title }}" width="300px" height="250px">
                            <div class="card-body">
                                <h5 class="card-title" style="max-height: 60px; overflow: hidden;">
                                    <a href="{% url 'filmapp:movie_detail' genre_slug=genre.slug movie_slug=movie.slug %}" style="text-decoration: none; color: #333;">{{ movie.title }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

